<div class="main-page-bg">
  <div class="main-page">
    <h1 class="main-welcome-text">Welcome to myFlix!</h1>

    <button
      class="btn-login"
      mat-raised-button
      (click)="openUserLoginDialog()"
      style="margin-bottom: 10px; width: 200px; background-color: brown"
    >
      Login
    </button>
    <br />
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="background-color: black; color: #bbbbbb; font-size: 12px"
    >
      Don't have an account? <span>Sign Up</span>
    </button>
  </div>
</div>
