.main-page-bg {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/welcome-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .main-page {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  h1 {
    font-size: 46px;
    color: #fff;
    opacity: 80%;
    margin-bottom: 50px;
    letter-spacing: .1px;
  }
  
  button{
      
      border-radius: 20px;
      color: #fff;
      font-size: 14px;
  }


  span{
      color: brown;
      text-decoration: underline;
  }

  