$backgroundColor: #202125;
$cardColor: #1a1b1f;
$textColor: rgba(255, 255, 255, 0.814);
$boxShadowColor: rgba(0, 0, 0, 0.221);

.user-profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background-color: $backgroundColor;
}

.user-profile-card {
  margin-top: 50px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  box-shadow: 10px 5px 5px $boxShadowColor;
  background-color: $cardColor;
}

.user-profile-card-header {
  margin-bottom: 20px;
  color: $textColor;
  display: flex;
  justify-content: center;
}

.user-profile-card-content {
  color: $textColor;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: -8px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

button {
  border-radius: 20px;
}

//   .favorite-movies {
//     display: flex;
//     flex-flow: row wrap;
//     gap: 20px;
//     justify-content: center;
//     margin: 20px;
//   }

h1 {
  color: $textColor;
  margin-top: 20px;
  text-align: center;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  background-color: $backgroundColor;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $cardColor;
  max-width: 280px;
  width: 280px;
  margin: 15px;
  padding: 20px 3px;
  box-shadow: 5px 5px 5px $boxShadowColor;
}

.mat-card-header {
  height: 80px;
  display: flex;
  align-items: center;
  color: $textColor;
}

.movies-title {
  display: flex;
  max-width: 210px;
  justify-content: center;
  text-align: center;
  line-height: normal;
}

img {
  width: 250px;
  height: 350px;
  object-fit: contain;
}

.mat-card-subtitle {
  color: #fff;
  font-size: 12px;
  opacity: 90%;
}

.mat-card-actions {
  opacity: 70%;
}
