<app-navbar></app-navbar>
<div class="user-profile-page">
  <!-- User Profile -->
  <mat-card class="user-profile-card">
    <mat-card-header class="user-profile-card-header">
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>

    <!-- View Profile Information -->
    <mat-card-content class="user-profile-card-content">
      <p><b>Username:</b> {{ user.Username }}</p>
      <p><b>Email:</b> {{ user.Email }}</p>
      <p><b>Birthday:</b> {{ user.Birthday | date }}</p>
    </mat-card-content>

    <!-- Edit Profile Information & Delete Profile -->
    <mat-card-actions class="user-profile-actions">
      <button
        mat-raised-button
        (click)="openEditProfileDialog()"
        color="primary"
      >
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <button mat-raised-button (click)="deleteUser()" style="background-color:#A5292A ; color: #fff;" >
        <mat-icon>delete_forever</mat-icon>
        Delete Profile
      </button>
    </mat-card-actions>
  </mat-card >
  <h1 id="favorites-title">My Favorites "{{user.FavoriteMovies.length}}":</h1>

  <div id="favorite-movie-card-container">
    <mat-card *ngFor="let movie of FavoriteMovies;" style="flex: 1 1 auto;">
      <mat-card-header>
        <mat-card-title style="font-size: 16px;">{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by:
        <button style=" font-size: 14px;color:#fff;"
                mat-button
                (click)="openMovieDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birthday)"
          >
          {{movie.Director.Name}}
            </button>
        </mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions >
            <button style=" font-size: 14px;color:#fff"
            mat-button (click)="openMovieGenreDialog(movie.Genre.Name, movie.Genre.Description)" 
            >
                Genre
            </button>
            <button style=" font-size: 14px; color:#fff"
                mat-button
                (click)="openMovieSynopsisDialog(movie.Title, movie.Description)" >
                Synopsis
            </button>
        <mat-icon (click)="removeFavoriteMovie(movie._id)" style="color:brown ;">favorite_filled</mat-icon>
      
</mat-card-actions>
</mat-card>
</div>